body{
   width:100%;
   height:100%;
   user-select:none; /* 禁止游戏显示信息被浏览器默认事件选中 */
   -moz-user-select: none; /*火狐*/
   overflow: hidden;
} 
#img{
  position: absolute;
  top:-9500px;
  left:0;
  width: 100%;
}
span{
    color:red;
}
#pause{
        position: absolute;
        top:300px;
        left:50%;
        right: 50%;
        margin-left:-200px;
        padding:0 30px 0 30px; 
        width:330px;
        height:200px;
        z-index:3 ;
        text-align:center;
        display: none;
}

#mask{
       position: absolute;
       top:0px;
       left:0px;
       right: 0px;
       bottom:0px;
       background: black;
       opacity: 0.6;
       z-index:1;
       display: none;
}
#pause-button{
  display: block;
  margin: 20px 0 0 15px;
  width:55px;
  height:48px;
  opacity: 0.5;
  background: url('../img/pause.png') no-repeat;
  
}
#pause-button:hover{
  opacity: 1;
}
.message{
  position: absolute;
}
.message .show{
    display: inline-block;
    margin:20px 20px 0 20px;
    padding: 0px  12px;
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    background: black;
    opacity: 0.5;
    font-size: 30px;
}
h1{
  color:#fff;
  font-family: cursive;
}
.message .show span{
  margin-left: 10px;
}
.button {
    display: inline-block;
    margin-right:4px;
    width: 100px;
    background: #ededed;
    background-image: -webkit-linear-gradient(top, #ededed, #bab1ba);
    background-image: -moz-linear-gradient(top, #ededed, #bab1ba);
    background-image: -ms-linear-gradient(top, #ededed, #bab1ba);
    background-image: -o-linear-gradient(top, #ededed, #bab1ba);
    background-image: linear-gradient(to bottom, #ededed, #bab1ba);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    text-shadow: 0px 1px 0px #e1e2ed;
    -webkit-box-shadow: 3px 4px 0px 0px #899599;
    -moz-box-shadow: 3px 4px 0px 0px #899599;
    box-shadow: 3px 4px 0px 0px #899599;
    font-family: Arial;
    color: #3a8a9e;
    font-size: 16px;
    padding: 12px 0px 12px 0px;
    border: solid #d6bcd6 1px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }
  
  .button:hover {
    color: #fff;
    background: #bab1ba;
    text-decoration: none;
  }